body {
	background-color: #212121;
	color:#f5f5f5;
	font-family: Arial;
}
.ust_bosluk
{
	margin-top:150px;
	background-color: #424242;
	padding: 25px;
	border-radius: 8px 8px;
	box-shadow: 0px 0px 2px #eee;
}
.logo
{
	font-family: Sans, Arial;
	margin-bottom:30px;
}